@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <img class="foto" src="~/images/libreria.jpeg" style="width: 500px; " alt="spiderman">
    <p>Private Silent</p>
</div>
